/node_modules
/public/hot
/public/storage
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
/public/uploads/business_logos
/public/uploads/documents
/public/uploads/img
/public/uploads/media
/public/uploads/invoice_logos
/public/uploads/UltimatePOS
/public/uploads/temp
/public/modules/
/public/mix-manifest.json
*.log
storage/logs/laravel-2021-01-04.log
